.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  z-index: 2;
  padding-top: 5px;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.sidebar-link img{
  height: 24px;
  align-items: center;
  margin-bottom: 4px;

}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}
 
.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
  font-weight: 500;

}